body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padding {
  padding: 10rem !important
}

body {
  background-color: #f8fafe
}

.domain-form .form-group {
  border: 1px solid #9ff0c8;
  padding: 10px
}

.domain-form .form-group input {
  height: 50px !important;
  border: transparent
}

.form-control {
  height: 52px !important;
  background: #fff !important;
  color: #3a4348 !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

.px-4 {
  padding-left: 1.5rem !important
}

.domain-form .form-group .search-domain {
  background: #22d47b;
  border: 2px solid #22d47b;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0
}

.domain-price span {
  color: #3a4348;
  margin: 0 10px
}

.domain-price span small {
  color: #24bdc9
}

.errorMsg {
  background-color: #a20000;
  color: #fff;
  margin-bottom: 15px;
  padding: 10px;
}